{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
        <header class="header__about">
            <img class="header__about__logo" src="{% static '/welcome/icons/icon-logo(2).svg' %}" alt="Логотип ">
            <div class="header__about__box">
                <h1 class="title-first">
                    <span class="title-first__main">О нашем проекте</span>
                </h1>
            </div>
        </header>

        <main>
            <section class="section-about_us">
                <div class="row">
                    <div class="col-1-of-3">
                        <div class="about-project-card">
                            <i class="adventure-card__icon icon-model margin-bottom-30px"></i>
                            <h3 class="title-third margin-bottom-10px">Как это работает?</h3>
                            <p class="paragraph">Если человек захотел помочь своему городу стать чище, то ему достаточно скачать приложение CliN to Win и пройти простейшую регистрацию, чтобы получить возможность получать вознаграждение за свой труд на благо природы.
                                Процесс выполнения заданий несложен. Нужно выбрать, что именно пользователь хочет сделать, снять короткое видео в подтверждение своих действий, дождаться подтверждения с нашей стороны и всё! </p>
                        </div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="about-project-card">
                            <i class="adventure-card__icon icon-approval margin-bottom-30px color-white"></i>
                            <h3 class="title-third margin-bottom-10px">Для чего?</h3>
                            <p class="paragraph">Главная цель нашего продукта - замотивировать людей помогать природе. Наш продукт уникален, мы совместили полезную уборку мусора с игровой деятельностью.
                                Всем хотелось бы гулять по чистому городу, купаться в чистой речке с аккуратным пляжем, но убираться мало кто хочет.Встроенное сообщество позволяет пользователям делиться опытом, мотивировать друг друга и объединяться для достижения общей цели – чистого города.</p>
                        </div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="about-project-card">
                            <i class="adventure-card__icon icon-stars margin-bottom-30px"></i>
                            <h3 class="title-third margin-bottom-10px">Кому выгодно?</h3>
                            <p class="paragraph">Вознаграждение – то, что мотивирует людей становиться пользователями нашего приложения. Купоны, промокоды и скидки – всё это мы можем предложить людям, которые разделяют наши интересы и решили помогать планете вместе с нами.
                                Если Вы хотите развить свой бизнес, то, проинвестировав в наш продукт, вы с лёгкостью получите новых клиентов. Поддержите проект, который заботится об экологии и помогает вашему бизнесу расти!</p>
                        </div>
                    </div>


                </div>
            </section>

            <section class="section-about_author" >
                <div class="text-align-center margin-bottom-80px">
                    <h1 class="title-first">
                        <span class="title-first__main">Авторы проекта</span>
                    </h1>
                </div>

                <div class="row">
                    <div class="about-card">
                        <figure class="about-card__img">
                            <img src="{% static '/welcome/images/author_3.jpg' %}" alt="persone">
                            <figcaption class="about-card__name">Алексей
                                Кондратенко</figcaption>
                        </figure>
                        <div class="about-card__box">
                            <h3 class="title-third margin-bottom-10px">Frontend разработчик</h3>
                            <p class="paragraph"> <i>"вместо пар хожу в зал"</i></p><br><br><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="about-card">
                        <figure class="about-card__img">
                            <img src="{% static '/welcome/images/author_1.jpg' %}" alt="persone">
                            <figcaption class="about-card__name">Ершов Павел</figcaption>
                        </figure>
                        <div class="about-card__box">
                            <h3 class="title-third margin-bottom-10px">Backend разработчик</h3>
                            <p class="paragraph"> <i>"Упал - не значит провал. Провал - это там где не встал."</i></p><br><br><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="about-card">
                        <figure class="about-card__img">
                            <img src="{% static '/welcome/images/author_2.jpg' %}" alt="persone">
                            <figcaption class="about-card__name">Горюнов Илья</figcaption>
                        </figure>
                        <div class="about-card__box">
                            <h3 class="title-third margin-bottom-10px">Backend разработчик</h3>
                            <p class="paragraph"> <i>"Побеждает всегда победитель. Проигравший проигрывает."</i></p><br><br><br>
                        </div>
                    </div>
                </div>
                <div class="text-align-center">
                    <a href="https://t.me/clean_to_win_bot" class="btn btn_animated" target="_blank">Присоединиться к проекту</a>
                </div>
            </section>
        </main>

</body>
{% endblock %}